aiogram==3.28.2
aiohttp==3.13.5
aiosqlite==0.22.1
beautifulsoup4==4.14.3
ollama==0.6.2
openai_whisper==20250625
Pillow==12.2.0
Requests==2.34.2
SocksiPy_branch==1.01
telethon==1.43.2
yt_dlp==2026.3.17
